body{
    font-family: 'Open Sans', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
.half-wid{
    width: 50%;
    padding-left: 5%;
}
.half-wid img{
width: 75%;
}
.link-butt{
    color: white;
    text-decoration: none;
    background-image: linear-gradient(90deg, #000000, #4C4C59);
    padding: 15px 30px;
    border-radius: 15px;
}
p{
    margin-bottom: 40px;
}
.left-bg{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    display: flex;
}
.right-bg{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
}
#exp{
    text-align: center;
    color: #000000;
}
#exp-web{
    display: flex;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}
#exp-web h3{
color: #5961DD;
}

#half-wid1{
    width: 50%;
    border-left: 8px solid;
    margin: 330px 30px 0px 30px ;
    padding: 0% 6% 0% 6% ;
    border-image: linear-gradient(#000000, #5961DD);
    border-image-slice: 1;
    box-shadow: 10px 5px 5px 3px grey;
    height: 75%;
}
#half-wid2{
    width: 50%;
    padding: 0% 6% 0% 6% ;
    margin: 30px 30px 0px 30px ;
    border-left: 8px solid;
    border-image: linear-gradient(#5961DD, #000000);
    border-image-slice: 1;
    box-shadow: 10px 5px 5px 3px grey;
    height: 75%;
}
#footer{
margin: 70px 0px 70px 0px;
text-align: center;
}